@import url('https://fonts.googleapis.com/css?family=Gaegu:700|Caveat|Permanent+Marker&display=swap');
@font-face { font-family: 'DongKyung'; src: url(resource/UhBee\ DongKyung.ttf) format('truetype'); }
@font-face { font-family: 'Yeonie'; src: url(resource/UhBee\ Yeonie.ttf) format('truetype'); }
@font-face { font-family: 'Se_hyun'; src: url(resource/UhBee\ Se_hyun.ttf) format('truetype'); }

i
{
    vertical-align: sub;
    margin: 10px;
}
p
{
    margin : 5px;
    word-break: keep-all;
}
body
{
    text-align : center;
    max-height: 100%;
    margin : 20px;
    background-image: 
        linear-gradient( 
            rgba(135, 207, 235, 0.5) 1px,transparent 1px, 
            rgba(255, 255, 255, 0) 6px, transparent 6px,
            rgba(135, 207, 235, 0.5) 7px, transparent 7px,
            rgba(255, 255, 255, 0) 12px, transparent 12px,
            rgba(135, 207, 235, 0.5) 13px, transparent 13px,
            rgba(255, 255, 255, 0) 18px, transparent 18px,
            rgba(135, 207, 235, 0.5) 19px, transparent 19px,
            rgba(255, 255, 255, 0) 24px, transparent 24px,
            rgba(135, 207, 235, 0.5) 25px, transparent 25px
            ), 
        linear-gradient(-90deg, 
            rgba(135, 207, 235, 0.5) 1px,transparent 1px, 
            rgba(255, 255, 255, 0) 6px, transparent 6px,
            rgba(135, 207, 235, 0.5) 7px, transparent 7px,
            rgba(255, 255, 255, 0) 12px, transparent 12px,
            rgba(135, 207, 235, 0.5) 13px, transparent 13px,
            rgba(255, 255, 255, 0) 18px, transparent 18px,
            rgba(135, 207, 235, 0.5) 19px, transparent 19px,
            rgba(255, 255, 255, 0) 24px, transparent 24px,
            rgba(135, 207, 235, 0.5) 25px, transparent 25px
        );
        background-size: 25px 25px
}

.content
{
    height : 100%;
    overflow: auto;
}

.bodyBorderTop
{
    margin : 0px;
    padding : 0px;
    width : 100%;
    height : 20px;
    background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -999;
}
.bodyBorderleft
{
    margin : 0px;
    padding : 0px;
    width : 20px;
    height : 100%;
    background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -999;
}
.bodyBorderRight
{
    margin : 0px;
    padding : 0px;
    width : 20px;
    height : 100%;
    background-color: white;
    position: absolute;
    top : 0px;
    right : 0px;
    z-index: -999;
}
.bodyBorderBottom
{
    margin : 0px;
    padding : 0px;
    width : 100%;
    height : 20px;
    background-color : white;
    position : absolute;
    bottom : 0px;
    left : 0px;
    z-index : -999;
}

.titleIndex
{
    color : rgba(50, 50, 50, 0.9);
    font-size : 100px;
    font-family: 'Permanent Marker', cursive;
}
.subTitle
{
    font-family: 'DongKyung', cursive;
    color : rgba(50, 50, 50, 0.9);
    font-size: 30px;
    word-spacing: 10px;
    word-break: keep-all;
}
.infoTitle
{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: deeppink;
    font-size:30px;
    text-align: left;
}
.careerTitle
{
    transform: rotate(-3deg);
    font-size: 25px;
    color: hotpink;
    margin-top: 30px;
}
/* 버튼 애니메이션을 위함 */
@-webkit-keyframes slideInDown 
{
    to 
    {
        top: 40px;
    }
}
@keyframes slideInDown 
{
    to 
    {
        top: 40px;
    }
}
.gitBtn
{
    position: absolute;
    transform: rotate(93deg);
    top: 30px;
    left: -25px;
    width: 140px;
    height: 40px;
    background: rgb(255, 72, 142);
    box-shadow: 5px -5px 10px -5px grey;
    cursor: pointer;
    z-index: 999;
}
.gitBtn:hover
{
    animation-duration: 1s;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    animation-fill-mode: forwards;
}
.myInfoBtn
{
    position: absolute;
    transform: rotate(89deg);
    top: 30px;
    left: 24px;
    width: 140px;
    height: 40px;
    background: rgb(255, 246, 117);
    box-shadow: 5px -5px 10px -5px grey;
    z-index: 999;
}
.myInfoBtn:hover
{
    animation-duration: 1s;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    animation-fill-mode: forwards;
}
.workBtn
{
    position: absolute;
    transform: rotate(92deg);
    top: 30px;
    left: 72px;
    width: 140px;
    height: 40px;
    background: rgb(172, 255, 124);
    box-shadow: 5px -5px 10px -5px grey;
    z-index: 999;
}
.workBtn:hover
{
    animation-duration: 1s;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    animation-fill-mode: forwards; 
}

.btnText
{
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-decoration-line: none;
    color : rgba(50, 50, 50, 0.9);
}
.btnText:visited
{
    color : rgba(50, 50, 50, 0.9);
}

.myInfo
{
    width : 90%;
    margin : auto;
    font-family: 'Gaegu', cursive;
    color : rgba(50, 50, 50, 0.9);
    font-size: 20px;
}

.postBox
{
    background : rgb(253, 255, 138);
    box-shadow: 0px 10px 15px -15px grey;
    width: 40%;
    float: left;
    padding: 15px;
    text-align: left;
    margin: 80px 0px;
}
.boxWidth
{
    float: right;
    width: 50%;
    margin-top: 80px;
}

.work
{
    clear: both;
    font-family: 'Se_hyun', cursive;
    font-size: 21px;
    text-align: left;
    margin: 20px;
}

.liMargin
{
    margin: 15px 0px;
    font-size: 25px;
}

.line
{
    border: 2px solid rgba(86, 207, 255,.8);
    border-radius: 10px 0px 10px 0px;
    margin: 10px 0px;
}
.infoSubTitle
{
    transform: rotate(-3deg);
    font-size: 30px;
    margin-top: 35px;
}
.subInfo
{
    font-size: 20px;
    color: #da8eff;
}

.highlight
{
    height: 25px;
    width: 300px;
    transform: rotate(-2deg);
    background: linear-gradient( 45deg, rgb(172, 255, 124), rgba(172, 255, 124,0.7) );
    border-radius: 5px 15px 5px 5px;
    position: relative;
    z-index: -1;
    top: -30px;
}
.leaflet
{
    font-family: 'Permanent Marker', cursive;
    background: white;
    border-radius: 5px;
    border: 5px solid red;
    box-shadow: 0 0 0 6px #fff;
    display: inline-block;
    font-size: 30px;
    padding: 0px 30px;
    margin: 25px;
    transform: rotate(-5deg);
}
.smileIcon
{
    font-size: 32px;
    background: yellow;
    border-radius: 20px;
    transform: rotate(10deg);
    position: fixed;
}
.fontAlign
{
    text-align: center;
}

.hiddenTitle
{
    font-family: 'DongKyung', cursive;
    font-size: 25px;
    color : rgba(50, 50, 50, 0.9);
}

.infoBox
{
    margin:20px 0px;
}

.workLink
{
    cursor: pointer;
    width:230px;
    padding: 0px 10px;
    border: 2px solid rgb(255, 72, 72);
    border-radius: 4px;
    text-align: center;
    color: blue;
    background: rgba(251, 255, 0, 0.3);
    display: inline-block;
    margin: 5px 10px;
}
.workLink:hover
{
    transform: scale( 1.1 );
    transition: all ease-in 0.5s;
}
.alignBtn
{
    text-align: center;
    margin: 20px;
}
.hiddenTitle
{
    display: none;
}
.workNote
{
    font-family: 'Gaegu', cursive;
}
.underLine
{
    border-bottom: 2px solid red;
    display: inline;
    font-size: 25px;
    font-family: 'DongKyung', cursive;
}
.colorPuple
{
    color: #da8eff;
}
.titleBorder
{
    color: red;
    font-family: 'Gaegu', cursive;
    font-size: 130px;
}
.alignText
{
    margin: auto;
    width: 750px;
}
.mobileAlign
{
    text-align: center;
    margin: 40px 0px;
}
.textHighlight
{
    background:rgba(251, 255, 0, 0.5);
}

.footer
{
    height: 50px;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

@media screen and (max-width:700px) 
{
    li
    {
        font-size: 15px;
    }
    .hiddenTitle
    {
        display: block;
    }
    .titleIndex
    {
        font-size: 75px;
    }
    .subTitle
    {
        font-size: 20px;
    }
    .infoSubTitle
    {
        font-size: 20px;
    }
    .postBox
    {
        font-size: 15px;
    }
    .subInfo
    {
        font-size: 15px;
    }
    .highlight
    {
        width: 200px;
    }
}
