@import url('https://fonts.googleapis.com/css?family=Gaegu|Permanent+Marker&display=swap');
@font-face { font-family: 'DongKyung'; src: url(resource/UhBee\ DongKyung.ttf) format('truetype'); }

body
{
    text-align : center;
    max-height: 100%;
    margin : 20px;
    background-image: 
        linear-gradient( 
            rgba(135, 207, 235, 0.5) 1px,transparent 1px, 
            rgba(255, 255, 255, 0) 6px, transparent 6px,
            rgba(135, 207, 235, 0.5) 7px, transparent 7px,
            rgba(255, 255, 255, 0) 12px, transparent 12px,
            rgba(135, 207, 235, 0.5) 13px, transparent 13px,
            rgba(255, 255, 255, 0) 18px, transparent 18px,
            rgba(135, 207, 235, 0.5) 19px, transparent 19px,
            rgba(255, 255, 255, 0) 24px, transparent 24px,
            rgba(135, 207, 235, 0.5) 25px, transparent 25px
            ), 
        linear-gradient(-90deg, 
            rgba(135, 207, 235, 0.5) 1px,transparent 1px, 
            rgba(255, 255, 255, 0) 6px, transparent 6px,
            rgba(135, 207, 235, 0.5) 7px, transparent 7px,
            rgba(255, 255, 255, 0) 12px, transparent 12px,
            rgba(135, 207, 235, 0.5) 13px, transparent 13px,
            rgba(255, 255, 255, 0) 18px, transparent 18px,
            rgba(135, 207, 235, 0.5) 19px, transparent 19px,
            rgba(255, 255, 255, 0) 24px, transparent 24px,
            rgba(135, 207, 235, 0.5) 25px, transparent 25px
        );
        background-size: 25px 25px
}

.content
{
    height : 100%;
    overflow: auto;
}

.bodyBorderTop
{
    margin : 0px;
    padding : 0px;
    width : 100%;
    height : 20px;
    background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -999;
}
.bodyBorderleft
{
    margin : 0px;
    padding : 0px;
    width : 20px;
    height : 100%;
    background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -999;
}
.bodyBorderRight
{
    margin : 0px;
    padding : 0px;
    width : 20px;
    height : 100%;
    background-color: white;
    position: absolute;
    top : 0px;
    right : 0px;
    z-index: -999;
}
.bodyBorderBottom
{
    margin : 0px;
    padding : 0px;
    width : 100%;
    height : 20px;
    background-color : white;
    position : absolute;
    bottom : 0px;
    left : 0px;
    z-index : -999;
}

.titleIndex
{
    color : rgba(50, 50, 50, 0.9);
    font-size : 100px;
    font-family: 'Permanent Marker', cursive;
}
.subTitle
{
    font-family: 'DongKyung', cursive;
    color : rgba(50, 50, 50, 0.9);
    font-size: 30px;
    word-spacing: 10px;
    word-break: keep-all;
}
.gitBtn
{
    position: absolute;
    top: 60px;
    left: -25px;
    width: 140px;
    height: 40px;
    background: rgb(255, 72, 142);
}
.myInfoBtn
{
    position: absolute;
    top: 120px;
    left: -25px;
    width: 140px;
    height: 40px;
    background: rgb(255, 246, 117);
}

.myInfo
{
    height : 1000px;
    width : 90%;
    background-color: white;
    margin : auto;
}

